---
import GitHub from "../icons/GitHub.astro";
import Logo from "../icons/Logo.astro";
import Search from "../icons/Search.astro";
---

<header
  class="h-15 bg-[var(--color-bg)] border-b-[var(--color-bg-alt)] border-b-1 flex items-center justify-between pl-5 pr-6"
>
  <div>
    <div class="space-x-4 flex">
      <Logo />
    </div>
  </div>
  <div
    class="flex items-center divide-x space-x-6 divide-[var(--color-fg-muted)]"
  >
    <a href="https://github.com/meowesque">
      <GitHub />
    </a>
  </div>
</header>
